<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    </head>
    <body>
        <h2>socket io test</h2>
        <pre id='test'></pre>
    </body>
    <script>
        const socket = io('http://52.231.165.205:3001')
        const innerDiv = document.querySelector('#test')
        socket.on('msg', (data)=>{
            console.log(data)
            innerDiv.innerHTML = data
        })

    </script>
</html>
